target
.classpath
.project
.settings
*~
bin/
#when run from within eclipse, cucumber tests create report folders in the project dir instead of it's target/ directory
cucumber-report*
git.properties
# Netbeans project files
nb-configuration.xml
/src/cli-app/.geogig/HEAD
/src/cli-app/.geogig/STAGE_HEAD
/src/cli-app/.geogig/WORK_HEAD
/src/cli-app/.geogig/config
/src/cli-app/.geogig/graph/00000000.jdb
/src/cli-app/.geogig/graph/je.info.0
/src/cli-app/.geogig/graph/je.info.0.1
/src/cli-app/.geogig/graph/je.lck
/src/cli-app/.geogig/graph/je.properties
/src/cli-app/.geogig/hooks/pre_commit.js.sample
/src/cli-app/.geogig/log/geogig.log
/src/cli-app/.geogig/log/logback.xml
/src/cli-app/.geogig/objects/00000000.jdb
/src/cli-app/.geogig/objects/je.info.0
/src/cli-app/.geogig/objects/je.info.0.1
/src/cli-app/.geogig/objects/je.lck
/src/cli-app/.geogig/objects/je.properties
/src/cli-app/.geogig/refs/heads/master
/src/cli-app/.geogig/refs/transactions/ce3cfef5-5ea0-452f-a64c-a7c4ac6bd2ce/changed/STAGE_HEAD
/src/cli-app/.geogig/refs/transactions/ce3cfef5-5ea0-452f-a64c-a7c4ac6bd2ce/changed/WORK_HEAD
/src/cli-app/rivers.zip
/src/cli-app/test.dbf
/src/cli-app/test.fix
/src/cli-app/test.prj
/src/cli-app/test.shp
/src/cli-app/test.shx
/src/cli-app/test2.dbf
/src/cli-app/test2.fix
/src/cli-app/test2.prj
/src/cli-app/test2.shp
/src/cli-app/test2.shx
